<h1  id="title"> Eat-Da-Burger! </h1>
<img src="../public/assets/img/hiclipart.com.png">

<h2> Add a burger! </h2>
<p> Type in the burger of your dreams, then press submit! </p>

<form class="create-form">
<div class="form-group">
    <input type="text" id="input" name="burger-name">
</div>
<button type="submit"> SHOW ME THE BURGER </button>
</form>